@using Archetype.Models
@using Casament.Controllers
@using umbraco.MacroEngines
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var nodeId = Model.MacroParameters["nodeId"];
    var node = new DynamicNode(nodeId);
    var image = node.GetPropertyValue("background");
    var imageUrl = image != null ? Umbraco.Media(image).NiceUrl() : string.Empty;
    var tabs = Umbraco.TypedContent(nodeId).GetPropertyValue<ArchetypeModel>("tabs"); 
}

<article id="@node.Id" class="section-wrapper clearfix active" data-custom-background-img="@imageUrl">
    <div id="infoSection" class="content-wrapper clearfix" style="position: absolute;">
        <div class="col-sm-10 col-md-9 pull-right">
            @{
                var identifier = new List<string>();
                var count = 0;
            }
            <h1 class="section-title">@node.GetPropertyValue("title")</h1>
            <h2>@Html.Raw(node.GetPropertyValue("content"))</h2>
            <div class="tabpanel styled-tabs uniform-height" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" text-hidden-xs="true">
                    @{
                        foreach (var tab in tabs)
                        {
                            var currentIdentifier = "identifier" + count;
                            identifier.Add(currentIdentifier);
                            var title = tab.GetValue<string>("title");
                            <li role="presentation" class="@(tabs.First()==tab?"active":string.Empty)">
                                <a href="#@currentIdentifier" aria-controls="@currentIdentifier" role="tab" data-toggle="tab" aria-expanded="@(tabs.First()==tab?true:false)">
                                    <i class="icon fa fa-diamond"></i><span>@title</span>
                                </a>
                            </li>
                            count++;
                        }
                    }
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    @{
                        count = 0;
                        foreach (var tab in tabs)
                        {
                            <div role="tabpanel" class="tab-pane fade active @(tabs.First()==tab?"in":string.Empty)" id="@identifier[count]" style="min-height: 391px;">
                                @Html.Raw(tab.GetValue<string>("description"))
                                @*<a href="" onclick="populate_and_open_modal(event, 'modal-content-4');" class="btn btn-outline-inverse btn-sm">read more</a>*@
                                @{
                                    var type = tab.GetValue<string>("informationType");
                                    if (type == "assistencia")
                                    {
                                        var assistanceController = new AssistanceController();
                                        var currentMember = Membership.GetUser().UserName;
                                        var memberId = ApplicationContext.Current.Services.MemberService.GetByUsername(currentMember).Id;
                                        var assistencia = assistanceController.GetCurrentAssistance(memberId);
                                        <div class="col-sm-6 content">
                                            <ul>
                                                <li class="center-block">
                                                    <a class="icon glyphicon glyphicon-ok @(assistencia == 1 ? "green" : "gray")" data-value="1" href="#"></a>
                                                </li>                                          
                                                <li>
                                                    <span>Vull venir!</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 content">
                                            <ul>
                                                <li class="center-block">
                                                    <a class="icon glyphicon glyphicon-remove @(assistencia == 0 ? "red" : "gray")" data-value="0" href="#"></a>                                            
                                                </li>                                          
                                                <li>
                                                    <span>Em perdré el festival!</span>
                                                </li>
                                            </ul>
                                        </div>
 
                                    }
                                    if (type=="localitzacio")
                                    {
                                        <div id="map-canvas"></div>
                                    }
                                }
                            </div>
                            count++;
                        }
                    }
                </div><!-- .tab-content -->
            </div><!-- .tabpanel -->
        </div><!-- .col-sm-10 -->
    </div><!-- .content-wrapper -->
</article>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  function initialize() {
    var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
        center: new google.maps.LatLng(41.4296716, 0.6639971),
      zoom: 11,
      streetViewControl: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
    var markerB = new google.maps.Marker({
        position: new google.maps.LatLng(41.4329683, 0.6502396),
        map: map,
        icon: "https://maps.google.com/mapfiles/kml/shapes/schools_maps.png",
        title: 'Puig Gros'
    });    var markerA = new google.maps.Marker({
        position: new google.maps.LatLng(41.4096716, 0.6839971),
        map: map,
        icon: "https://maps.google.com/mapfiles/kml/shapes/schools_maps.png",
        title: 'Poble'
    });    google.maps.event.addListener(markerB, 'click', function () {
        map.setZoom(14);
        map.setCenter(markerB.getPosition());
        infowindowB.open(map, markerB);
    });
    google.maps.event.addListener(markerA, 'click', function () {
        map.setZoom(14);
        map.setCenter(markerA.getPosition());
        infowindowM.open(map, markerA);
    });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>


