@using umbraco.MacroEngines
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var nodeId = Model.MacroParameters["nodeId"];
    var node = new DynamicNode(nodeId);
    var image = node.GetPropertyValue("background");
    var imageUrl = image != null ? Umbraco.Media(image).NiceUrl() : string.Empty;
}
<article id="@node.Id" class="section-wrapper clearfix" data-custom-background-img="@imageUrl">
    <div class="content-wrapper clearfix wow fadeInDown" data-wow-delay="0.3s">
        <div class="col-sm-10 col-md-9 pull-right">

            <section class="feature-text">
                <script type="application/javascript">
                    var weddingDate = new Date("2015", "04", "30");
                    var today = new Date();
                    var dateToCount = (weddingDate.getTime() - today.getTime())/1000;
                         var myCountdown1 = new Countdown({
                             time: dateToCount, // 86400 seconds = 1 day
                             width: 300,
                             height: 60,
                             rangeHi: "day",
                             style: "flip"	// <- no comma on last item!
                         });


                </script>
                <div class="row">
                <h1>@node.GetPropertyValue("title")</h1>
                @Html.Raw(node.GetPropertyValue("content"))
                    <p><a href="#@node.AncestorOrSelf("Home").Descendants("Item").First(x=>x.Id != node.Id).Id" class="link-scroll btn btn-outline-inverse btn-lg">@node.GetPropertyValue("buttonText")</a></p>

                </div>
            </section>

        </div><!-- .col-sm-10 -->
    </div><!-- .content-wrapper -->
</article>

