@using umbraco.MacroEngines
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    string idNode = ViewData.Model.MacroParameters["newModel"].ToString();
    var node = new DynamicNode(idNode);
}

<article id="text" class="section-wrapper clearfix" data-custom-background-img="images/other_images/bg1.jpg">
    <div class="content-wrapper clearfix">
        <div class="col-sm-10 col-md-9 pull-right">

            <h1 class="section-title">@node.Name</h1>

            <h3 class="questionContent">asdf @Html.Raw(node.GetPropertyValue("pregunta"))</h3>
            <p><a href="" class="btn btn-outline-inverse btn-sm answer1">@node.GetPropertyValue("resposta1")</a></p>
            <p><a href="" class="btn btn-outline-inverse btn-sm answer2">@node.GetPropertyValue("resposta2")</a></p>
            <p><a href="" class="btn btn-outline-inverse btn-sm answer3">@node.GetPropertyValue("resposta3")</a></p>
            <p><a href="" class="btn btn-outline-inverse btn-sm answer4">@node.GetPropertyValue("resposta4")</a></p>
                
        </div><!-- .col-sm-10 -->
    </div><!-- .content-wrapper -->
</article>